# Dependencias
node_modules/

# Build
dist/
.quasar/

# Variables de entorno
.env
.env.local
.env.*.local

# Capacitor
android/
ios/

# Editores
.DS_Store
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
