// App global styles

.text-positive {
  color: #21BA45 !important;
}

.text-negative {
  color: #C10015 !important;
}

.rounded-borders {
  border-radius: 8px !important;
}

.q-page {
  max-width: 800px;
  margin: 0 auto;
}
